# Entorno virtual
venv/
env/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de configuración y base de datos local
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VSCode (opcional)
.vscode/
